  <div class="bg-blue-nettuno">
      <nav
        class="column inner relative flex flex-col sm:flex-row sm:space-x-2"
      >
        <a  href="/" class="nav-menu-item">
          Home
        </a>
        <a  href="/eventi" class="nav-menu-item">
          Eventi
        </a>
      {% comment %}   <Menu list={data.corsi.nodes} /> {% endcomment %}
        <a
          
          href="/dove-siamo"
          class="nav-menu-item"
        >
          Dove siamo
        </a>
        <a  href="/staff" class="nav-menu-item">
          Lo Staff
        </a>
        <a
          
          href="/contattaci"
          class="nav-menu-item"
        >
          Contattaci
        </a>
      </nav>
    </div>